body{
	width:100%;
	margin:auto;
}

#centerpic{
  /* display: inline-block; */

	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#footerbottom{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

#ui-grid-a{
	position: absolute;
	display: block;

}
